<footer class="text-muted">
    <div class="container">
        &copy; 2020 - Wp.Web.Mvc - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
</footer>

@*border-top footer*@

