@model IEnumerable<Wp.Web.Mvc.Models.WorkHistories.SkillDetailsModels>


@foreach (var skill in Model)
{
    <div class="row" style="padding-top:20px;">
        <div class=" col-md-12">
        <strong><em>@Html.DisplayFor(x => skill.Name)</em></strong>
    </div>
    </div>
    
    <div class="row" >
        <div class="col-md-12">
            @foreach (var item in skill.SkillItems)
            {              
                <div class="progress" style="height:20px; margin-bottom:5px; ">

                    <div class="progress-bar progress-bar-warning" style="width: @item.Level%; text-align:left;">
                        <span style="padding-left:10px;">@Html.DisplayFor(x => item.Name)</span>
                    </div>
                </div>

            }
        </div>
    </div>
   
}




