
WpCoreSolution/Libraries/Wp.Core/obj/

WpCoreSolution/Libraries/Wp.Data/obj/

WpCoreSolution/Libraries/Wp.Service/obj/

WpCoreSolution/Presentation/Wp.Web.Api/obj/

WpCoreSolution/Presentation/Wp.Web.Framework/obj/

WpCoreSolution/.vs/

WpCoreSolution/Libraries/Wp.Data/bin/

WpCoreSolution/Libraries/Wp.Core/bin/

WpCoreSolution/Libraries/Wp.Service/bin/

WpCoreSolution/Presentation/Wp.Web.Api/bin/

WpCoreSolution/Presentation/Wp.Web.Framework/bin/

WpCoreSolution/Presentation/Wp.Web.Api/Properties/PublishProfiles/

WpCoreSolution/Presentation/Wp.Web.Admin.Api/obj/

WpCoreSolution/Presentation/Wp.Web.Api_Old/obj/

WpCoreSolution/Presentation/Wp.Web.Admin.Api/Wp.Web.Admin.Api.csproj.user

WpCoreSolution/Presentation/Wp.Web.Api_Old/Wp.Web.Api_Old.csproj.user

WpCoreSolution/Presentation/Wp.Web.Api_Old/bin/
