
WpCoreSolution/Libraries/Wp.Core/obj/

WpCoreSolution/Libraries/Wp.Data/obj/

WpCoreSolution/Libraries/Wp.Service/obj/

WpCoreSolution/Presentation/Wp.Web.Api/obj/

WpCoreSolution/Presentation/Wp.Web.Framework/obj/

WpCoreSolution/.vs/

WpCoreSolution/Libraries/Wp.Data/bin/

WpCoreSolution/Libraries/Wp.Core/bin/

WpCoreSolution/Libraries/Wp.Service/bin/

WpCoreSolution/Presentation/Wp.Web.Api/bin/

WpCoreSolution/Presentation/Wp.Web.Framework/bin/

WpCoreSolution/Presentation/Wp.Web.Api/Properties/PublishProfiles/

WpCoreSolution/Presentation/Wp.Web.Admin.Api/obj/

WpCoreSolution/Presentation/Wp.Web.Api_Old/obj/

WpCoreSolution/Presentation/Wp.Web.Admin.Api/Wp.Web.Admin.Api.csproj.user

WpCoreSolution/Presentation/Wp.Web.Api_Old/Wp.Web.Api_Old.csproj.user

WpCoreSolution/Presentation/Wp.Web.Api_Old/bin/

WpCoreSolution/Presentation/Wp.Web.Admin.Api/bin/

WpCoreSolution/Presentation/Wp.Web.Mvc/bin/

WpCoreSolution/Presentation/Wp.Web.Mvc/obj/

WpCoreSolution/Localization/Wp.Localization.Service/obj/Debug/net5.0/Wp.Localization.Service.GeneratedMSBuildEditorConfig.editorconfig

WpCoreSolution/CVManagement/Wp.Cv.Core/obj/

WpCoreSolution/CVManagement/Wp.Cv.Data/obj/

WpCoreSolution/CVManagement/Wp.Cv.Service/obj/

WpCoreSolution/Libraries/Wp.Common/obj/

WpCoreSolution/Localization/Wp.Localization.Core/obj/

WpCoreSolution/Localization/Wp.Localization.Data/obj/

WpCoreSolution/Localization/Wp.Localization.ManagementApi/obj/

WpCoreSolution/Localization/Wp.Localization.Service/obj/

WpCoreSolution/ResumeManagement/Wp.Resume.ManagementApi/obj/
