.navbar{
    background:none;
    filter:none;
    border:none;
    box-shadow:none;

    background-color:rgb(2, 115, 83);/*(0, 114, 148);007294 rgb(135, 194, 237); rgb(35, 49, 55);*/
    background-image: -moz-linear-gradient(center top , rgb(2, 115, 83), rgb(2, 115, 83));

}

.navbar .nav > li > a {
    color:#fff;
    text-shadow:none;
}

.navbar .nav > li > a:hover {
    color:#fff;
    background-color:rgb(2, 115, 83);/*(0, 114, 148);007294 rgb(135, 194, 237); rgb(35, 49, 55);*/
    background-image: -moz-linear-gradient(center top , rgb(2, 115, 83), rgb(2, 115, 83));

}


.navbar a.brand:hover  {
    background-color:rgb(0, 114, 148);    
}

.white-caret
{
border-top-color: white !important;
border-bottom-color: white !important;
}

.aside {
    background-color:#BFDCE5;
}

/*body {  padding-top: 60px; } 
@media (max-width: 600px) { body { padding-top: 0;  } }*/

