<p>
    <b>Schrijf je in voor een proefles!</b><br />

    We halen je thuis op!
    <br />
    Je zit nergens aan vast!
    <br />
    Begin snel: stap deze week nog in!
    <br />

    Deze maand gratis proefrijles, wees er snel bij!
    <br />
    Laat uw gegevens achter <a href="~/Inschrijven">hier</a> en wij bellen u z.s.m. terug.  

</p>
<p>
    <b>Waarom een proefrijles	</b>
    <br />

    Omdat je dan weet wat je rijbewijs
    <br />
    kost en welk rijlespakket bij je past. 
    <br />
    Wij halen je thuis op en je zit nergens aan vast.	
</p>
