@model Wp.Web.Framework.Models.Admin.WebsiteModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutBootstrap.cshtml";
}

<h1>Edit</h1>

<h4>WebsiteModel</h4>
<hr />
<div class="row">
    <div class="col-md-8">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group row mt-sm-2">
                <label asp-for="WebsiteName" class="control-label col-sm-3 text-sm-right font-weight-bold"></label>
                <div class="col-sm-3">
                    <input asp-for="WebsiteName" class="form-control" />
                    <span asp-validation-for="WebsiteName" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row mt-sm-2">
                <label asp-for="FooterText" class="control-label col-sm-3 text-sm-right font-weight-bold"></label>
                <div class="col-sm-3">
                    <input asp-for="FooterText" class="form-control" />
                    <span asp-validation-for="FooterText" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row mt-sm-2">
                <label asp-for="MailSenderAddress" class="control-label col-sm-3 text-sm-right font-weight-bold"></label>
                <div class="col-sm-3">
                    <input asp-for="MailSenderAddress" class="form-control" />
                    <span asp-validation-for="MailSenderAddress" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row mt-sm-2">
                <label asp-for="Title" class="control-label col-sm-3 text-sm-right font-weight-bold"></label>
                <div class="col-sm-3">
                    <input asp-for="Title" class="form-control" />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row mt-sm-2">
                <label asp-for="MetaKeywords" class="control-label col-sm-3 text-sm-right font-weight-bold"></label>
                <div class="col-sm-3">
                    <input asp-for="MetaKeywords" class="form-control" />
                    <span asp-validation-for="MetaKeywords" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row mt-sm-2">
                <label asp-for="MetaDescription" class="control-label col-sm-3 text-sm-right font-weight-bold"></label>
                <div class="col-sm-3">
                    <input asp-for="MetaDescription" class="form-control" />
                    <span asp-validation-for="MetaDescription" class="text-danger"></span>
                </div>
            </div>
            @*<div class="form-group row mt-sm-2">
                    <label asp-for="SelectedTheme" class="control-label col-sm-3 text-sm-right font-weight-bold"></label>
                    <div class="col-sm-3">
                        <input asp-for="SelectedTheme" class="form-control" />
                        <span asp-validation-for="SelectedTheme" class="text-danger"></span>
                    </div>
                </div>*@
            <div class="form-group row mt-sm-2">
                <label asp-for="SelectedTheme" class="control-label col-sm-3 text-sm-right font-weight-bold"></label>
                <div class="col-sm-3">
                    <select asp-for="SelectedTheme" asp-items="Model.AvailableThemes" class="form-control"></select>
                    <span asp-validation-for="SelectedTheme" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row">
                <div class="offset-sm-3 col-sm-3 text-right">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </div>
        </form>
    </div>
</div>

