@model IEnumerable<Wp.Web.Framework.Models.Admin.WebPageModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create" class="btn btn-light float-right">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>

            <th>Navigation Name</th>
            <th>Virtual Path</th>
            <td>               
            </td>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NavigationName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VirtualPath)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { pageId = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { pageId = item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
